    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
            /* Sidebar styles */
            .sidebar {
                position: static;
                width: 250px; /* Sidebar width */
                height: 40em; /* Full height */
                background-color: #f0f0f0; /* Light gray background */
            }
        
            .sidebar ul {
                list-style-type: none;
                padding-left: 0;
            }
        
            .sidebar ul li {
                padding: 1%;
            }
        
            .sidebar ul li a {
                text-decoration: none;
                color: #000;
                display: block;
                padding: 10px;
                border-radius: 5px;
                background-color: #f8f9fa;
            }
        
            .sidebar ul li a:hover,
            .sidebar ul li.active a {
                background-color: #2d4739; /* Green background for active link */
                color: #fff;
            }
        
        </style>
                  
    </head>
    <body>
        <%- include('../partials/user_navbar.ejs') %>
    <div style="display: flex;">
        <!-- Sidebar -->
        <div class="sidebar">
            <ul>
                <li><a href="/user/profile/personal-info">Personal Information</a></li>
                <li><a href="/user/profile/address-management">Address Management</a></li> 
            </ul>
        </div>
    
        <!-- Main Content -->
        <div class="content">
            <% if (selectedView === 'personalInfo') { %>
                <%- include('./personalInfo.ejs') %>  <!-- Include personal info template -->
            <% } else if (selectedView === 'address') { %>
                <%- include('./address.ejs') %>  <!-- Include address template -->
            <% } %>
        </div>
    </div>
    
        <%- include('../partials/footer.ejs') %>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
    