body, html {
  height: 100%;
  margin: 0;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #2d4739;
  text-align: center; /* Ensures both 'HEAVEN' and 'INTERIOR' are centered */
}

.logo .interior {
  font-size: 19px;
  font-weight: 300;
  display: block;
  color: #2d4739;
  letter-spacing: 0.15em;
  margin-top: -10px; /* Pulls the 'INTERIOR' text closer to 'HEAVEN' */
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.login-container h3 {
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #2d4739;
}

.form-label {
  text-align: left;
  display: block;
}

.btn-custom {
  background-color: #2d4739;
  color: white;
  width: 100%;
  font-size: 16px;
}

.btn-custom:hover {
  background-color: #263e32;
}

.form-text {
  font-size: 12px;
}

.text-muted {
  font-size: 13px;
}

a {
  color: #2d4739;
}

a:hover {
  color: #263e32;
  text-decoration: underline;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.links-container a {
  display: block;
  margin: 0.5rem 0;
}

.error-box {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


.alert {
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.otp-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* styles.css */
.google-signin {
  display: flex;
  align-items: center;
  background-color: #4285F4; /* Google blue */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.google-signin img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Product Listing */
.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  margin: 1em;
  border: 1px solid #ccc;
  padding: 1em;
  width: 200px;
}

.product img {
  width: 100%;
  height: auto;
}

/* Product Detail */
.product-detail {
  display: flex;
  flex-direction: column;
}

.product-images img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#mainImage {
  width: 300px;
  height: auto;
}

.zoom {
  transform: scale(2);
}

/* Related Products */
.related-products {
  display: flex;
}

.related-products a {
  margin: 1em;
  text-align: center;
}
